*{
	padding: 0;
	margin: 0;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
a{
	text-decoration: none;
}
body,
html{
	height: 100%;
	font-size: 16px;
	overflow: hidden;
}
#fm{
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	background-color: rgba(251,16,54,0.8);
	overflow: auto;
	overflow-x: hidden;
	background-size: cover;
	background-repeat: no-repeat;
}
.key-foo a{
	font-size: 30px;
	color: #333;
}
.key-foo .side{
	float: left;
	font-size: 5rem;
	margin-top: 10px;
	margin-left: 10px;
}
.key-foo .lrc{
	float: right;
	font-size: 5rem;
	margin-top: 10px;
	margin-right: 10px;
}
.info .title{
	padding: 10px 0;
	font-size: 4rem;
	font-weight: bold;
}
.info .artist{
	margin: 2rem 0;
	font-size: 3rem;
}
.info img{
	width: 50rem;
	height: 50rem;
	border-radius: 50%;
	margin: 5px 0;
}
.info .lyric{
	margin-top: 5rem;
	margin-bottom: 10rem;
	font-size: 5rem;
}
.info input{
	width: 75%;
	margin-left: 10px;
	margin-right: 10px;
}
span{
	font-size: 3rem;
	position: relative;
	top: 0.9rem;
}
.icon-key{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.icon-key a{
	font-size: 15rem;
	color: #333;
}
.icon-key .pause{
	display: none;
}
.icon-key .left{
	float: left;
	font-size: 12rem;
	color: #333;
	margin-left: 50px;
	margin-top: 5px;

}
.icon-key .right{
	float: right;
	font-size: 12rem;
	color: #333;
	margin-right: 50px;
	margin-top: 5px;
}
#fm header{
	background: linear-gradient(to bottom left, rgba(250,250,250,0.9),rgba(220,220,220,0.95));
}
#fm article{
	background: linear-gradient(to bottom right, rgba(250,250,250,0.9),rgba(220,220,220,0.95));
	/*display: none;*/
}
#fm aside.fm-classify{
	display: none;
	background: linear-gradient(to bottom right, rgba(250,250,250,0.9),rgba(220,220,220,0.95));
	text-align: left;
}
#fm aside.full-lyrics{
	display: none;
	background: linear-gradient(to bottom right, rgba(250,250,250,0.9),rgba(220,220,220,0.95));
	padding-bottom: 10px;
}
/*#fm aside.full-lyrics .cover{
	height: 20px;
	background-color: rgba(111,111,111,0.5);
	width: 265px;
	position: fixed
}*/
#fm aside.full-lyrics p{
	margin-bottom: 5px;
}
aside.fm-classify a{
	color: #333;
}
aside.fm-classify p{
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	padding: 10px 20px;
}